.bg{
  background-image: url(./pictures/homeBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;

}
.bg .body{  
   background: rgba(0, 0, 0, 0.193) ;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 4px 4px 4px 10px rgba(255, 255, 255, 0.167);
 
   
}
.body h5{
  background: #585555;
  padding: 10px;
 border-radius: 20px;
    color: #eaecf3;
  }
.bg p{
  font-size: 15px;
  color: #090000; 
  background: #ffffffa6; 
  
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 50px;
  font-weight: 600;
}
.txt-head{
  font-family:cursive ;
  font-weight: 900;
  font-size: 40px;
  color: rgb(48, 45, 53);
  text-shadow: 2px 2px 2px #887575;
}
/* line */

.progress-tracker {
    display: flex;
    align-items: center;
  }
  
  .step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
  }
  
  .completed {
    background-color: #3f51b5; /* Blue color */
  }
  
  .line {
    height: 2px;
    flex-grow: 1;
    background-color: #bfbfbf;
  }
  
  .completed-line {
    background-color: #3f51b5; 
  }
   
  /* input field */
  .input-container {
    display: flex;
    background: #ffffff;
    align-items: center;
    border: 1px solid #3f51b5; 
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 4rem; 

    width: 25rem;  
  }
  /* Media query for small devices */
@media (max-width: 767px) {
  .input-container {
      margin-left: 0; 
      width: 100%;  
      padding-left: 1rem;  
  }
}
 #monthly-head{
    margin-left: 5rem;
  }
  
  .input-label {
    margin-right: 10px; /* Space between label and input */
    color: #000; 
    font-weight: bold;
    width: 190px;
  }
  
  .input-field {
    margin-right: auto;
    border: none;
    outline: none;
    flex-grow: 1;
  }
   
  .buton button{
    width: 8rem; 
    margin-right:5rem;
  }
  #nextBtn{
    width:  10rem; 
  } 
 

  .bar-chart-container{
    display: flex;
    justify-content: center;

  }
  table{
    
    background: #c5c4c4;
    color: rgb(0, 0, 0);
  }
  .total{
    background: #dfdede;
    padding: 10px;
    border-radius: 5px;
  }
  .input-area{
    background: #ffffff;
    border-radius: 50px;
      
  }
  