.bg{
  background-image: url(https://www.shutterstock.com/image-photo/financial-blue-chart-stat-background-260nw-14204629.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;

}
.bg .container{
  background: #ffffff;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 5px 5px 5px 10px rgb(50, 50, 50);
  max-width: 1800px;
   
}
.bg p{
  font-size: 25px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
}
.txt-head{
  font-family:cursive ;
  font-weight: 900;
  font-size: 70px;
  color: rgb(255, 1, 1);
}
/* line */

.progress-tracker {
    display: flex;
    align-items: center;
  }
  
  .step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
  }
  
  .completed {
    background-color: #3f51b5; /* Blue color */
  }
  
  .line {
    height: 2px;
    flex-grow: 1;
    background-color: #bfbfbf;
  }
  
  .completed-line {
    background-color: #3f51b5; 
  }
  th{
    font-size: x-large;
  }
  /* input field */
  .input-container {
    display: flex;
    align-items: center;
    border: 1px solid #3f51b5; /* Border color */
    border-radius: 5px;
    margin-left: 5rem;
    padding: 1rem;
    width: 40rem; /* Adjust width as needed */
  }
 #monthly-head{
    margin-left: 5rem;
  }
  
  .input-label {
    margin-right: 10px; /* Space between label and input */
    color: #000; 
    font-weight: bold;
    width: 190px;
  }
  
  .input-field {
    margin-right: auto;
    border: none;
    outline: none;
    flex-grow: 1;
  }
   
  .buton button{
    width: 15rem;
    font-size: x-large;
    margin-right:5rem;
  }
  #nextBtn{
    width: 25rem;
    font-size: x-large;
  } 
 

  .bar-chart-container{
    display: flex;
    justify-content: center;

  }