
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #dde3e8;
}
.wrapper, 
.container {
    height: 700px;
    width: 500px;
}
.wrapper {
    margin: auto;
    position: absolute;
    top: -10px; right: 0; bottom: 0; left: 0;
}
.container {
    position: relative;
}
.container .stencil {
    border: 5px solid #77dff9;
    top: -86px;
    left: -36px;
    height: 754px;
    width: 390px;
    transform: matrix(0.85, 0.8, -0.08, 0.7, 19, 43);
    position: absolute;
    z-index: 1;
}
.container .stencil .line {
    border: 3px solid #77dff9 ; 
    height: 94.6%;
    margin: 11px 0;
    border-right: none;
    border-left: none;
}
.container .border-triangle  {
    position: absolute;
    z-index: 10;
    left: 23px;
    top: -57px;
    border-top: 322px solid transparent;
    border-left: 514px solid rgba(255, 255, 255, 0.5);
    border-bottom: 444px solid transparent;
}  
.container .content-triangle {
    position: absolute;
    left: 21px;
    top: -20px;
    border-top: 300px solid transparent;
    border-left: 480px solid #fff;
    border-bottom: 412px solid transparent;
    z-index: 15;
}
.container .content-triangle:before,
.container .content-triangle:after,
.container form .title:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 20px;
    border: 1px solid #71d2ec;
    
}
.container .content-triangle:before {
    border-bottom: none;
    border-right: none;
    transform: matrix(0.85,0.64,-0,0.7,-452,-215);
}
.container .content-triangle:after {
    border-top: none;
    border-right: none;
    transform: matrix(0.85,-0.7,-0,0.7,-295,197);
}
.container .enter-triangle-one {
    position: absolute;
    border-top: 130px solid transparent;
    border-left: 200px solid #192042;
    border-bottom: 100px solid transparent;
    transform: rotate(51.5deg);
    bottom: 10px;
    left: 200px;
    z-index: 5;
}
.container .enter-triangle-one:before {
    content: '';
    position: absolute;
    border-top: 150px solid transparent;
    border-left: 250px solid #192042;
    border-bottom: 170px solid transparent;
    transform: rotate(4deg);
    bottom: -150px;
    left: -230px;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    z-index: 5;
}
.container .enter-triangle-two {
    position: absolute;
    border-top: 155px solid transparent;
    border-left: 241px solid rgba(40, 65, 143, 0.2);
    border-bottom: 113px solid transparent;
    transform: rotate(51deg);
    bottom: -19px;
    left: 190px;
    z-index: 6;
} 
.container form {
    position: absolute;
    z-index: 20;
    top: 200px;
    left: 50px;
}
.container form:before,
.container form:after,
.container form .input-inform:before,
.container form .title:before {
    content: '';
    position: absolute;
    background: rgba(204,204,204,0.13);
    height: 1px;
}
.container form:before {
    width: 350px;
    transform: rotate(37.2deg);
    left: -20px;
    top: -20px;
}
.container form:after {
    width: 350px;
    left: -20px;
    bottom: 40px;
    transform: rotate(-39deg);
}
.container form .title {
    border-bottom: 2px solid #67e2fb;
    padding-bottom: 12px;
    margin: 0 0 40px 9px;
    width: 150px;
}
.container form .title:before {
    width: 0px;
    background: #67e2fb;
    top: 70px;
}
.container form .title:after {
    border-top: none;
    border-left: none;
    width: 12px;
    height: 12px;
    transform: matrix(0.85,-0.7,0.8,0.6,241,37);
}
.container form label {
    display: block;
    color: #6b707d;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
}
.container form .input-inform:before {
    width: 1px;
    height: 396px;
    left: -5px;
    top: -102px;
}
.container form input:focus {
    outline: none;
}
.container form label:last-child {
    font-weight: bold;
    letter-spacing: 1px;
}
.container form input[type="text"],
.container form input[type="password"] {
    border: none;
    border-bottom: 1px solid #f2f2f2;
    display: block;
    width: 200px;
    color: #71d2ec;
}
.container form input[type="text"] {
    padding: 0 0 10px 9px;
}
.container form input[type="password"] {
    padding: 20px 0 12px 9px;
}
.container form #forgot-pas,
.container form .enter,
.container form .enter label,
.container form #enter {
    cursor: pointer;
    position: relative;
}
.container form #forgot-pas {
    color: #c5c5c5;
    background: #fff;
    border: 1px solid #f2f2f2;
    font-size: 10px;
    height: 20px;
    width: 120px;
    top: 10px;
    left: 30px;
}
.container form .enter {
    width: 70px;
    height: 70px;
    top: 83px;
    left: 193px;
}
.container form .enter label:before {
    content: '\1F512';
    color: rgba(197, 197, 197,0.6);
    left: 15px;
    top: 75px;
    position: relative;
}
.container form .enter label:hover:before {
    content: '\1F513';
}
.container form #enter {
    left: 10px;
    top: 25px;
    color: #fff;
    border: none;
    font-size: 10px;
    background: transparent;
} 
.signup{
    position: absolute;
    margin-top: -20px;
}
