

  /* index page */
h1{
    color: #0a1b7c;
    font-size:50px;
    font-weight:bolder;
  }
  .bg{
    background-image: url(./pictures/top-white.png);
    background-image: url(./pictures/everydollar-cta-slice-desktop-smaller-3.jpg);
    background-image: url(./pictures/Gray\ BG\ Bottom\ Wall.png);
  }

  .green-line {
    height: 4px;
    flex-grow: 1;
    width:100px;
    background-color: #00d619;
  }